---
import Dot from "../icons/Dot.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<li class="mb-20 ms-6">
  <span
    class="absolute -start-4 flex h-8 w-8 items-center justify-center rounded-full bg-blue-200 ring-4 ring-white dark:bg-blue-900 dark:ring-gray-900"
  >
    <Dot />
  </span>
  <h3 class="font-medium leading-tight">
    {title}
  </h3>
  <p class="text-sm">
    {description}
  </p>
</li>
