---
interface Props {
  time: string;
  title: string;
  description: string;
  badge?: string;
}

const { time, title, description, badge } = Astro.props;
---

<li class="mb-10 ms-4">
  <div
    class="absolute -start-1.5 mt-1.5 h-3 w-3 rounded-full border border-white bg-gray-400 dark:border-gray-900 dark:bg-gray-700"
  >
  </div>
  <time
    class="mb-1 text-sm font-normal leading-none text-gray-600 dark:text-gray-200"
    >{time}
    {
      badge && (
        <span class="ml-2 inline-flex items-center justify-center rounded-full bg-blue-500 px-2 py-1 text-xs font-bold leading-none text-white">
          {badge}
        </span>
      )
    }</time
  >
  <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
    {title}
  </h3>
  <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
    {description}
  </p>
</li>
