---
import * as m from '../paraglide/messages'
import { languageTag } from '../paraglide/runtime'

const makeUrlForLanguage = (lang: string) =>
  `/${lang}${Astro.url.pathname.replace(`/${languageTag()}`, '')}`;
---

<header class="bg-transparent mb-14">
    <ul class="flex flex-wrap items-center mt-3 text-lg font-medium text-[#B452D9]">
        <li>
            <a href={makeUrlForLanguage('pt-br')}
      >{m.goToLanguage(undefined, { languageTag: 'pt-br' })}</a
    >
        </li>
        <li>
            <a id="lang-it" class="hover:underline me-4 md:me-6">Italiano</a>
        </li>
        <li>
            <a id="lang-pt-br" class="hover:underline me-4 md:me-6">Brasil</a>
        </li>
        <li>
            <a id="lang-en" class="hover:underline">English</a>
        </li>
    </ul>
</header>
