---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Section from "../layouts/Section.astro";
import ProjectsItem from "./ProjectsItem.astro";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Section title={t("home.projects")} id="project">
  <ProjectsItem
    title={t("project.portfolio.title")}
    description={t("project.portfolio.description")}
    href="https://github.com/Frnbrz/porfolio"
    tags={["Astro", "I18n", "Tailwindcss", "Typescript"]}
  />

  <ProjectsItem
    title={t("project.blog.title")}
    description={t("project.blog.description")}
    href="https://github.com/Frnbrz/Hito1_2t_front"
    tags={[
      "Nesjt",
      "Typescript",
      "React",
      "Passport",
      "Prostgress",
      "Turborepo",
      "Typeorm",
      "Vite",
    ]}
  />

  <ProjectsItem
    title={t("project.calls.title")}
    description={t("project.calls.description")}
    href="https://github.com/Frnbrz/hito_llamadasApp"
    tags={["Java", "Mysql", "Spring boot", "Lombok", "Maven", "JPA", "React"]}
  />
  <ProjectsItem
    title={t("project.duBo.title")}
    description={t("project.duBo.description")}
    href="https://github.com/Frnbrz/hito_1er_trimestre"
    tags={["Nodejs", "Express", "Jwt", "Json", "Bootstrap", "Api-rest"]}
  />
</Section>
