---
import { getLangFromUrl, useTranslations } from '../i18n/utils'
import Section from '../layouts/Section.astro'
import ProjectsItem from './ProjectsItem.astro'
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const PROYECTS = [
  {
    name: 'magicwater',
    href: 'https://github.com/Frnbrz/hito-servidor-segundo',
    tags: ['Java', 'Spring boot', 'Mysql', 'Lombok', 'Maven', 'JPA', 'React'],
  },
  {
    name: 'blog',
    href: 'https://github.com/Frnbrz/Hito1_2t_front',
    tags: [
      'Nesjt',
      'Typescript',
      'React',
      'Passport',
      'Prostgress',
      'Turborepo',
      'Typeorm',
      'Vite',
    ],
  },
  {
    name: 'calls',
    href: 'https://github.com/Frnbrz/hito_llamadasApp',
    tags: ['Java', 'Mysql', 'Spring boot', 'Lombok', 'Maven', 'JPA', 'React'],
  },
  {
    name: 'duBo',
    href: 'https://github.com/Frnbrz/hito_1er_trimestre',
    tags: ['Nodejs', 'Express', 'Jwt', 'Json', 'Bootstrap', 'Api-rest'],
  },
]
---

<Section title={t('home.projects')} id='project'>
  {PROYECTS.map(project => <ProjectsItem {...project} />)}
</Section>
