---
import Dark from "../icons/Dark.astro";
import Light from "../icons/Light.astro";
---

<button class="dark-mode-button block px-3 py-2" aria-label="Dark Mode Toggle">
  <span class="dark-mode-icon hidden">
    <Dark />
  </span>
  <span class="light-mode-icon hidden">
    <Light />
  </span>
</button>

<script>
  const darkModeButton = document.querySelector(".dark-mode-button");
  darkModeButton.addEventListener("click", () => toggleDarkMode());

  function toggleDarkMode() {
    if (
      localStorage.theme === "dark" ||
      (!("theme" in localStorage) &&
        window.matchMedia("(prefers-color-scheme: dark)").matches)
    ) {
      document.documentElement.classList.remove("dark");
      localStorage.theme = "light";
      document.querySelector(".dark-mode-icon").classList.remove("hidden");
      document.querySelector(".light-mode-icon").classList.add("hidden");
    } else {
      document.documentElement.classList.add("dark");
      localStorage.theme = "dark";
      document.querySelector(".light-mode-icon").classList.remove("hidden");
      document.querySelector(".dark-mode-icon").classList.add("hidden");
    }
  }
</script>
