---
import { languages } from '../i18n/ui'
import {
  getLangFromUrl,
  useTranslatedPath,
} from '../i18n/utils'

const lang = getLangFromUrl(Astro.url);
const translatePath = useTranslatedPath(lang);

---

{
  Object.entries(languages).map(([langPrefix]) => {     
    if (langPrefix == lang) return <></>
    return (<a class="text-gray-800 dark:text-gray-100" href={translatePath("/", langPrefix)}>{langPrefix.toUpperCase()}</a>)
  })

}
