---
import Dark from '../icons/Dark.astro'
import Light from '../icons/Light.astro'
---

<button class='dark-mode-button block px-3 py-2' aria-label='Dark Mode Toggle'>
  <span class='dark-mode-icon hidden'>
    <Dark />
  </span>
  <span class='light-mode-icon hidden'>
    <Light />
  </span>
</button>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const darkModeButton = document.querySelector('.dark-mode-button')
    const darkModeIcon = document.querySelector('.dark-mode-icon')
    const lightModeIcon = document.querySelector('.light-mode-icon')

    // Initialize the theme based on localStorage
    if (
      localStorage.theme === 'dark' ||
      (!('theme' in localStorage) &&
        window.matchMedia('(prefers-color-scheme: dark)').matches)
    ) {
      document.documentElement.classList.add('dark')
      lightModeIcon.classList.remove('hidden')
    } else {
      darkModeIcon.classList.remove('hidden')
    }

    darkModeButton.addEventListener('click', () => toggleDarkMode())

    function toggleDarkMode() {
      if (document.documentElement.classList.contains('dark')) {
        document.documentElement.classList.remove('dark')
        localStorage.theme = 'light'
        darkModeIcon.classList.remove('hidden')
        lightModeIcon.classList.add('hidden')
      } else {
        document.documentElement.classList.add('dark')
        localStorage.theme = 'dark'
        lightModeIcon.classList.remove('hidden')
        darkModeIcon.classList.add('hidden')
      }
    }
  })
</script>
